<h1 mat-dialog-title>Please fill this data to continue</h1>
<hr />
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4 col-12 p-0">
    <div class="row">
      <div class="col-4 mb-4">
        <table>
          <thead>
            <tr>
              <th class="text-center">UPLIFT(LTR/USG/IG)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" matInput formControlName="uplift" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4 mb-4">
        <table>
          <thead>
            <tr>
              <th class="text-center">UNIT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" matInput formControlName="unit" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4 mb-4">
        <table>
          <thead>
            <tr>
              <th class="text-center">SPC GRAVITY</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" matInput formControlName="spc_gravity" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4 mb-4">
        <table>
          <thead>
            <tr>
              <th class="text-center">DEPARTURE(KG)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" matInput formControlName="departure" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4 mb-4">
        <table>
          <thead>
            <tr>
              <th class="text-center">ARRIVAL(KG)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" matInput formControlName="arrival" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <mat-dialog-actions> <button mat-button mat-dialog-close type="submit">submit</button></mat-dialog-actions>
  </form>
</div>
