td {
    border: 1px 1px 0px 1px solid #b5b4b3 !important;
    height: 52px !important;
  }
  input {
    margin-bottom: auto !important;
  }
  
  span {
    display: block;
    height: 16px !important;
  }
  th,
  td {
    border: none !important;
  }
  